.header {
  display: grid;
  grid-template-columns: 200px 800px 200px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid lightgray;
}

.head-name {
  font-size: 22px;
  font-weight: 700;
  margin-left: 20px;
}

.socials {
  width: 30px;
  padding-left: 5px;
  cursor: pointer;
}

.header-button {
  font-size: 20px;
  border-color: white;
  border-style: solid;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
  background-color: white;
  font-family: Roboto;
}

.header-button:hover {
  opacity: 0.5;
}

.header-button:active {
  opacity: 0.3;
}

.header-tabs {
  text-align: center;
}

.header-socials {
  align-items: center;
  margin-right: 20px;
}