.highlights-grid {
  display: grid;
  grid-template-columns: 500px 500px;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  column-gap: 50px;
  background-color: rgb(245, 245, 255);
}

.highlights-left {
  justify-content: center;
}

.self-picture {
  width: 100%;
}

.intro-text {
  font-size: 20px;
  font-weight: 300;
}