.footer {
  display: grid;
  justify-content: center;
  background-color: rgb(245, 245, 255);
  padding-top: 20px;
  padding-bottom: 20px;
}

.contact-title {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 17px;
  font-weight: 500;
}

.contact-info {
  display: flex;
}

.email {
  display: grid;
  grid-template-columns: 20px 1fr;
  padding-right: 40px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.phone-number {
  display: grid;
  grid-template-columns: 20px 1fr;
  padding-left: 40px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.email-icon {
  width: 20px;
  padding-right: 25px;
}

.phone-icon {
  width: 20px;
  padding-right: 25px;
}

.email-name {
  display: inline-block;
}

.phone {
  display: inline-block;
}