.highlights-grid {
  display: flex;
  grid-template-columns: 500px 500px;
  background-color: rgb(245, 245, 255);
  column-gap: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-evenly;
}

.image-ryan {
  margin-right: 50px;
}

.self-picture {
  width: 100%;
}

.intro-text {
  font-size: 20px;
  font-weight: 300;
  margin-left: 50px;
}